@charset "UTF-8";

body { background: linear-gradient(to right, #002762, #005693);}
header .left { float: left; }
header a { color: #fff; }
header h1 a {
	display: block;
	width: 132px;
	height: 50px;
	background: url("") no-repeat;
}
header nav a {
	font-size: 17px;
	font-weight: bold;
}
header .close,
header .all,
header .left > div > div,
header h2 { display: none; }
header .left > div { float: left; }
header .left > div nav li { float:left; }
header > ul { float: right; }